@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
body {
  background-color: black;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.bg-svg {
  background-image: url(../AboutUs/background.svg);
}

.p-main {
  color: #35c5e8;
}
.p-secondary {
  color: #c0c0c0;
}
.text-gradient-blue {
  background: linear-gradient(180deg, #35c5e8 0%, #c5f4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.active {
  color: #50c1e4;
}
.b1 {
  border: 4px solid #e5243b;
}
.b2 {
  border: 4px solid #dda63a;
}
.b3 {
  border: 4px solid #4c9f38;
}
.b4 {
  border: 4px solid #c5192d;
}
.b5 {
  border: 4px solid #ff3b22;
}
.b6 {
  border: 4px solid #26bde2;
}
.b7 {
  border: 4px solid #fcc30b;
}
.b8 {
  border: 4px solid #a21942;
}
.b9 {
  border: 4px solid #fd6925;
}
.b10 {
  border: 4px solid #dd1367;
}
.b11 {
  border: 4px solid #fd9d24;
}
.b12 {
  border: 4px solid #bf8b2e;
}
.b13 {
  border: 4px solid #3f7e44;
}
.b14 {
  border: 4px solid #0a97d9;
}
.b15 {
  border: 4px solid #56c02b;
}
.b16 {
  border: 4px solid #00689d;
}
.b17 {
  border: 4px solid #19486a;
}
.poppins-font {
  font-family: "Poppins", sans-serif;
}
