@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Roboto:wght@400;700&display=swap");

#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}
body {
  background-color: black;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.bg-svg {
  background-image: url(../AboutUs/background.svg);
}

.p-main {
  color: #50c1e4;
}
.p-secondary {
  color: #c0c0c0;
}
.text-gradient-blue {
  background: linear-gradient(180deg, #35c5e8 0%, #c5f4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.active {
  color: #50c1e4;
}
